<div style="margin-left: 85%;">
    <mat-icon style="margin-top: 20px;"  routerLink='/notif'>add_alert</mat-icon>
    <mat-icon style="margin-left: 20px;margin-top: 20px;" routerLink='/cart'>add_shopping_cart</mat-icon>
    <mat-icon style="margin-top: 20px;margin-left: 30px;" routerLink='/'> settings_power </mat-icon>
   </div>
   <img style="width: 30%;height: 60%;" src="assets/Images/tomato.jpg">
  <label style="margin-left: 30px;">1kg: 50Rs</label>
  <select style="margin-top: 20px;margin-left: 30px;">
      <option>--Select--</option>
      <option>1Kg</option>
      <option>2Kg</option>
      <option>5Kg</option>
  </select><br><br>
   <img style="width: 30%;height: 70%;" src="assets/Images/LadyFinger.jpg">
   <label style="margin-left: 30px;">1kg: 50Rs</label>
   <select style="margin-top: 20px;margin-left: 30px;">
    <option>--Select--</option>
       <option>1Kg</option>
       <option>2Kg</option>
       <option>5Kg</option>
   </select><br><br>
  
   <img style="width: 25%;height: 20%;" src="assets/Images/potato.jpg">
   <label style="margin-left: 90px;">1kg: 50Rs</label>
   <select style="margin-top: 20px;margin-left: 30px;">
    <option>--Select--</option>
       <option>1Kg</option>
       <option>2Kg</option>
       <option>5Kg</option>
   </select><br><br><br>
   <button style="margin-left: 50%;" routerLink='/order'>Add Cart</button>