<!-- app.component.html -->
<app-nav-menu></app-nav-menu>
<div class="container">
    <h2 style="text-align: center;">
    Login
    </h2>
    <form style="margin-left: 40%;margin-top: 30px;"  [formGroup]="angForm" novalidate>
          <div class="form-group">
              <label>EmailId:</label>
              <input style="width: 40%;" class="form-control" formControlName="email" type="text">
          </div>
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['email'].errors.required">
                email is required.
              </div>
          </div>
           <div class="form-group">
              <label>Password:</label>
              <input  style="width: 40%;" class="form-control" formControlName="pwd" type="password">
          </div>
          <div *ngIf="angForm.controls['pwd'].invalid && (angForm.controls['pwd'].dirty || angForm.controls['pwd'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['pwd'].errors.required">
                password is required.
              </div>
          </div>
          <button type="submit"
              [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary" [routerLink]="['/menu']">
              Submit
          </button>
    </form>
    <div style="margin-left: 35%;margin-top: 30px;">
        <input type="checkbox" checked="checked"> Remember me   
        <a class="cancelbtn" [routerLink]="['/cancel']"> Cancel</a>   
         <a style="margin-left: 80px;" [routerLink]="['/forgot']" href="#"> Forgot password? </a> 
    </div>
    <br />
    
  </div>
  