<app-nav-menu></app-nav-menu>
<body>
<h1 style="text-align: center;">Login</h1> 
<form>  
    <div class="container">   
        <label>Email ID : </label>   
        <input type="text" placeholder="Enter EmailId"  [(ngModel)]="EmailId"  name="EmailId" required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password"  [(ngModel)]="password" name="password" required>  
        <button type="submit" [routerLink]="['/menu']">Login</button>   
        <input type="checkbox" checked="checked"> Remember me   
        <button type="button" class="cancelbtn" [routerLink]="['/cancel']"> Cancel</button>   
         <a [routerLink]="['/forgot']" href="#"> Forgot password? </a>   
    </div>   
</form> 
</body>