<app-nav-menu></app-nav-menu>
<body>
<h2 style="text-align: center;"> Forgot Password </h2> 
<form style="margin-left: 40%;margin-top: 30px;"  [formGroup]="angForm" novalidate>
    <div class="form-group">
        <label>EmailId:</label>
        <input style="width: 40%;" class="form-control" formControlName="email" type="text">
    </div>
    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          email is required.
        </div>
    </div>
    <button type="submit"
    [disabled]="angForm.pristine || angForm.invalid" class="btn-danger" [routerLink]="['/login']">
    Submit
</button>
</form>