<div style="margin-left: 85%;">
    <mat-icon style="margin-top: 20px;"  routerLink='/notif'>add_alert</mat-icon>
    <mat-icon style="margin-left: 20px;margin-top: 20px;" routerLink='/cart'>add_shopping_cart</mat-icon>
    <mat-icon style="margin-top: 20px;margin-left: 30px;" routerLink='/'> settings_power </mat-icon>
   </div>
<img style="width: 30%;height: 70%;margin-left: 20px;" routerLink='/soap' src="assets/Images/dall1.jpg">
<label style="margin-left: 90px;">1kg: 150Rs</label>
  <select style="margin-top: 20px;margin-left: 30px;">
   <option>--Select--</option>
      <option>1Kg</option>
      <option>2Kg</option>
      <option>5Kg</option>
  </select><br><br>
  <img style="width: 30%;height: 30%;margin-left: 20px;" routerLink='/dall' src="assets/Images/dall2.jpg">
  <label style="margin-left: 90px;">1kg: 100Rs</label>
  <select style="margin-top: 20px;margin-left: 30px;">
   <option>--Select--</option>
      <option>1Kg</option>
      <option>2Kg</option>
      <option>5Kg</option>
  </select><br><br><br>
  <button style="margin-left: 50%;" routerLink='/order'>Add Cart</button>